---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
title: Awenllais | Blog
---

<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
