---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h1>Voice of Awen  ٩(*•͈ ꇴ •͈*)و ̑̑❀</h1>
<p>Not a bard, not a druid (except on Wednesdays for D&D) - just your average 20-something year old 
with pink hair scraping through a Computer Science degree ( ´ ▽ ` )b </p>
<p>You're more than welcome to check out my <a href="https://awenllais.com/about/">about</a> page, 
or check out some of my blog posts below!</p>

{% set maxPosts = collections.posts.length | min(3) %}
<h3>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h3>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>You can find even more posts in the <a href="{{ '/posts/' | url }}">archive</a>!</p>
